<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  
  <body>

    <div class="container content1">
      <div class="navbar-header">
          <img width= "400px"alt="Brand" src="../images/logo-res.png"> 
      </div>

    </div>

    <div class="container">
    <div class="input-group">
    <textarea id ="url"class="form-control custom-control custom" cols="50" rows="1"style="resize:none"></textarea> <span class="input-group-addon btn btn-primary blue" onclick="fun()">Send</span>
    </div>
    <div class="m-meme">
      <!-- <textarea id ="url1"name="comments" cols="50" rows="1">Paste Article URL here...</textarea> --> 
      
      <%= partial "partials/editor" %>
      <button id="button1" onclick="fun1()">Update Quote</button>
      <%= partial "partials/canvas" %>

    </div>

  </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>

  </body>
</html>
