<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <h3>PicTweet</h3>
      <form action="">
      <textarea name="comments" cols="1" rows="1">Paste Article URL here...</textarea>
      <button onclick="fun()"></button>
    </form>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>

  </body>
</html>
